.button {
  margin-left: 20px;
  height: 50px;
  cursor: pointer;
  background-color: beige;
  font-size: 1.5rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: rgb(240, 240, 155);
}

.popUpButton {
  margin: 5px;
  font-size: 10px;
  cursor: pointer;
  background-color: rgba(245, 245, 220, 0.9);
  font-weight: 5px;
  width: 100px;
  height: 30px;
  padding: 0;
  border-radius: 5px;
}

.popUpButton:hover {
  background-color: rgb(240, 240, 155);
}
