.button {
  margin-left: 20px;
  height: 50px;
  cursor: pointer;
  background-color: beige;
  font-size: 1.5rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.button:hover,
.exitButton:hover,
.popUpButton:hover,
.smallButton:hover {
  background-color: rgb(240, 240, 155);
}

.smallButton {
  margin: 15px 10px 10px 10px;
  font-size: 15px;
  cursor: pointer;
  background-color: beige;
  font-weight: 5px;
  width: 170px;
  height: 30px;
  padding: 0;
  border-radius: 5px;
}

.popUpButton {
  margin: 5px;
  font-size: 10px;
  cursor: pointer;
  background-color: rgba(245, 245, 220, 0.9);
  font-weight: 5px;
  width: 100px;
  height: 30px;
  padding: 0;
  border-radius: 5px;
}

.exitButton {
  margin: 10px 10px 15px 10px;
  font-size: 15px;
  font-weight: 5px;
  width: 70px;
  height: 30px;
  padding: 0px;
  background-color: rgba(196, 51, 51, 0.7);
}
